@model LoginModel
@{
    Layout = "_LayoutLoggedOut";
    ViewData["Title"] = "Login";
}

<h2 class="text-center">Login</h2>

<form asp-controller="Auth" asp-action="LoginPost" method="post">
  <div class="mb-3 w-25">
    <label for="exampleInputEmail1" class="form-label">Username</label>
    <input asp-for="@Model.Username" type="text"  class="form-control" id="login">
   
  </div>
  <div class="mb-3 w-25">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input asp-for="@Model.Password" type="password" class="form-control">
  </div>
 
  <button type="submit" class="btn btn-primary">Login</button>
</form>
