
@{
    ViewData["Title"] = "About";
}

<h2>Web Financial Helper</h2>
<p>This Project helps you to keep track of your daily expenses, allowing you to Crete, View, Edit and Delete financial records. This web application has two main features, one allows you to manually add your expenses, and the other allows you to add a photo of a financial recipt.</p>
<p>This project uses OCR technology to read images and convert it to plain text, storing the data extracted from the recipt in a SQL Server Database. The application itself uses ORM technology to interact with the database. For the OCR technology I used the Tesseract OCR package, and for the ORM technology I used EntityFramework Core.</p>
<p>The application works by asking the user for an input, that could be manually typed or a recipt photogragh. If user chooses to input a photo, the application will proccess the image and write its content in a text file. This text file will be filtered using Regulax Expressions, converted into a Json format and written in a json file. This json file will be mapped in a model class that will be used to store the data into the database.</p>
