@model CollectedData
@{
    ViewData["Title"] = "Edit";
}
<h2>Are you sure you want to Edit these items?</h2>


<form method="post" class="form-inline" >
    <input asp-for="Id" hidden />
    <div class="form-group  ">
        <label asp-for="PlaceOfPurchase" class="sr-only">Place</label>
        <input asp-for="PlaceOfPurchase" type="text" class="form-control w-25">

        <label asp-for="Price" class="sr-only">Price</label>
        <input asp-for="Price" type="text" class="form-control w-25">

        <label asp-for="PurchaseDate" class="sr-only">Purchase Date</label>
        <input asp-for="PurchaseDate" type="text" class="form-control w-25">

        <label asp-for="PurchaseTime" class="sr-only">Purchase Time</label>
        <input asp-for="PurchaseTime" type="text" class="form-control w-25">

        <label asp-for="UploadDate" class="sr-only">Upload Date</label>
        <input asp-for="UploadDate" type="text" class="form-control w-25">

    </div><br />
    <button type="submit" class="btn btn-warning" style="background-color: #f2ca18">Submit Changes</button> <a class="btn btn-danger" style="background-color: #f2184b" asp-action="Index">Cancel</a>
</form>

