@model CollectedData
@{
    ViewData["Title"] = "Edit";
}
<div class="text-center">
    <h2>Are you sure you want to Edit these items?</h2>
</div>
<div class="card mt-4 p-4" style="background-color: #fff">
    <form method="post" class="form-inline">
        <input asp-for="Id" hidden />
        <div class="form-group  ">
            <label asp-for="PlaceOfPurchase">Place</label>
            <input asp-for="PlaceOfPurchase" type="text" class="form-control w-25">

            <label asp-for="Price" >Price</label>
            <input asp-for="Price" type="text" class="form-control w-25">

            <label asp-for="PurchaseDate">Purchase Date</label>
            <input asp-for="PurchaseDate" type="text" class="form-control w-25">

            <label asp-for="PurchaseTime" >Purchase Time</label>
            <input asp-for="PurchaseTime" type="text" class="form-control w-25">

            <label asp-for="UploadDate">Upload Date</label>
            <input asp-for="UploadDate" type="text" class="form-control w-25">
        </div><br />
        <button type="submit" class="btn btn-warning" style="background-color: #f2ca18">Submit Changes</button> <a class="btn btn-danger" style="background-color: #f2184b" asp-action="Index">Cancel</a>
    </form>
</div>

