@{
    ViewData["Title"] = "Home Page";
}

<h2 class="text-center">Data</h2>
<div class="text-end">
<a class="btn btn-primary" asp-controller="Home" asp-action="Add">Add new Entry</a>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Day</th>
      <th scope="col">Price</th>
      <th scope="col">Place</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
    
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      
    </tr>
    <tr>
      <th scope="row">3</th>
      <td >Larry the Bird</td>
    
    </tr>
  </tbody>
</table>